HELP.md

#Eclipse
.classpath
.project
.factorypath
.settings/
*.springBeans

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
/bin/

#javadoc
doc/

#zip files
*.zip

#docker
Dockerfile
hive.properties
